<a href="https://colab.research.google.com/github/idreesmath/ai_101_modern_ai_python/blob/main/class_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Pakistan Zindabad")

Pakistan Zindabad

## Data Types

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
type("Pakistan Zindabad")

str

In [ ]:
print(type("Pakistan Zindabad"))

<class 'str'>

In [ ]:
print(type(1000))

<class 'int'>

In [ ]:
print(type('Pakistan Zindabad'))

<class 'str'>

In [ ]:
"pAkIsTan ZiNdaBad".capitalize()

'Pakistan zindabad'

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
print(type({1,2,4,2,3,5,6}))

<class 'set'>

In [ ]:
print(type([1,2,3,4,5]))

<class 'list'>

In [ ]:
print(type({"name":"Zainab"}))

<class 'dict'>

In [ ]:
print(type((1,2,3,4,5)))

<class 'tuple'>

## Variable
variable components
1. name
2. operator (Assign Operator)
3. value (object -> str, int, tuple, set)

```python
variable_name = "value"
```

now working with type hint

```python
variable_name : type  = "value"
```

In [ ]:
student_name : str = "Muhammad Idrees"
print(student_name)

Muhammad Idrees

In [ ]:
faculty_name : str = "Zia Khan"
print(faculty_name)

Zia Khan

In [ ]:
name : str = "Muhammad Idrees"
father_name : str = "Muhammad Saleem"
age : int = 47
contact : int = "03218040866"
email : str = "idrees488@gmail.com"
is_pakistan : bool = True

print(name)
print(father_name)
print(age)
print(contact)
print(email)
print(is_pakistan)

Muhammad Idrees
Muhammad Saleem
47
03218040866
idrees488@gmail.com
True

In [ ]:
names : list = ["Qasim", "Zia", "Rehan"]
print(names)

['Qasim', 'Zia', 'Rehan']

In [ ]:
name : str = 1000

print(name)

1000

## String Concatenation

In [ ]:
name : str = "Muhammad Idrees"
father_name : str = "Muhammad Saleem"
age : int = 47

student_card : str = "Panaversity Student Card\n\nStudent Name: " + name + "\nFather's Name: " + father_name + "\nAge: " + str(age)

print(student_card)

Panaversity Student Card

Student Name: Muhammad Idrees
Father's Name: Muhammad Saleem
Age: 47

In [ ]:
name : str = "Muhammad Idrees"
father_name : str = "Muhammad Saleem"
age : int = 47

student_card : str = """
Panaveristy Student Card

Student Name: %s
Father's Name: %s
Age: %d
""" % (name, father_name, age)

print(student_card)

Panaveristy Student Card

Student Name: Muhammad Idrees
Father's Name: Muhammad Saleem
Age: 47